.connect.view .connect-text {
    font-size: 96px;
    font-family: "Segoe UI";
    font-weight: lighter;
    line-height: 150%;
    width: 904px;
    min-width: 904px;
}

.connect.view .join-code {
    font-size: 340px;
    font-family: "Segoe UI";
    font-weight: lighter;
    display: inline-block;
    margin-bottom: 36px;
}

.connect.view .screens {
    display: inline-block;
    margin-left: 52px;
}

.connect.view .screen {
    width: 222px;
    height: 440px;
    border: 2px solid #FFFFFF;
    display: inline-block;
    margin-left: 36px;
}