.meter { 
    height: 56px;
	background: #555;
    display: inline-block;
    position: relative;
}

.meter > span {
    display: block;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(
      center bottom,
      rgba(255, 255, 255, 0.5) 37%,
      rgba(255, 255, 255, 0.2) 69%
    );
    position: relative;
    overflow: hidden;
  }

  .meter > span:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
      -45deg, 
      rgba(255, 255, 255, .4) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(255, 255, 255, .4) 50%, 
      rgba(255, 255, 255, .4) 75%, 
      transparent 75%, 
      transparent
    );
    z-index: 1;
    background-size: 28px 28px;
    animation: move 2s linear infinite;
    overflow: hidden;
  }

  .meter .progress {
      height: 100%;
      width: 50%;
      background: #FFFFFF;
      position: absolute;
  }