/* Offset for .question-text: 8px padding + 2 px border */
.static.view .question-text {
    margin-bottom: 10px; 
}

.static.view .question-text {
    font-weight: lighter;
    font-family: 'Segoe UI';
    font-size: 96px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.static.view .command-button {
    margin-top: 64px;
}
